sphinx>=3.5.1
sphinx-argparse>=0.2.5
sphinx-rtd-theme>=0.5.2
pydata-sphinx-theme>=0.6.3
ConfigArgParse>=0.14.0
future>=0.17.1
python-igraph>=0.9.1
numpy>=1.18.5
marshmallow>=3.6.1
tqdm>=4.57.0
networkx>=2.6.2
